.hero {
  background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
}
.hero-left {
  flex: 1;
  padding-left: 180px;
}
.hero-left p {
  font-size: 100px;
}

.hero-hand-icon img {
  width: 105px;
}
.hero-latest-btn {
  background: #ff4141;
}

.hero-right {
  flex: 1;
}
