.news {
  background: burlywood;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body {
  background-color: #222;
}  */
.card {
  width: 90%;
  max-width: 870px;
  background: linear-gradient(135deg, #00feba, #5b548a);
  color: #fff;
  margin: 0 auto 0;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
}
.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search input {
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555;
  padding: 10px 25px;
  height: 60px;
  border-radius: 30px;
  flex: 1;
  margin-right: 16px;
  font-size: 18px;
}
.search button {
  border: 0;
  outline: 0;
  background: #ebfffc;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
}
.search button img {
  width: 15px;
  padding-top: 5px;
}
/* .weather {
  display: none;
} */
.weather-icon {
  width: 170px;
  margin-top: 30px;
}
.weather h1 {
  font-size: 50px;
  font-weight: 500;
}
.weather h2 {
  font-size: 45px;
  font-weight: 400;
  margin-top: -10px;
}
.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 0 10px; */
  margin-top: 50px;
}
.col {
  display: flex;
  align-items: center;
  text-align: left;
  width: 33%;
}
.col img {
  width: 40px;
  margin-right: 10px;
}
.humidity,
.wind,
.pressure {
  font-size: 28px;
  /* margin-top: -6px; */
}
.details .col p {
  margin-bottom: 0;
}

.age {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #4203a9, #90bafc);
  color: #fff;
  padding: 10px;
}
.calc {
  width: 100%;
  max-width: 600px;
  margin-left: 10%;
  margin-top: 10%;
}
.calc h1 {
  font-size: 60px;
  color: #ffff76;
}
.input {
  margin: 40px 0;
  padding: 35px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
}
.input input {
  flex: 1;
  margin-right: 20px;
  padding: 14px 20px;
  border: 0;
  outline: 0;
  font-size: 18px;
  border-radius: 5px;
  position: relative;
}
.input button {
  background-color: #ffff76;
  border: 0;
  outline: 0;
  padding: 15px 30px;
  border-radius: 5px;
  font-weight: 500;
  color: #333;
  cursor: pointer;
  font-size: 18px;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: auto;
  height: auto;
  position: absolute;
  background-position: calc(100%-10px);
  background-size: 30px;
  cursor: pointer;
}
#age {
  font-size: 20px;
  color: #ffff76;
  font-size: 30px;
}
